-#  This file is app/views/proposals/open_proposals.html.haml
%h1  Open Proposals

%table#movies
  %thead
    %tr
      %th Name 
      %th Yes
      %th No
      %th Abstain
      %th Date
  %tbody
    - @proposals.each do |proposal|
      %tr
        %td= proposal.name
        %td= proposal.number_yes
        %td= proposal.number_no
        %td= proposal.number_abstain
        %td= proposal.updated_at
        %td= button_to 'Delete', proposal_path(proposal), :method => :destroy, :confirm => 'Are you sure?', :class => 'btn btn-primary'

%br        
= link_to 'Add new proposal', new_proposal_path
%br
= link_to 'View closed proposals', '/proposals/closed'
%br
= link_to 'Logout', user_logout_path(), :method => :post

-#proposal_path(proposal), :method => :destroy, :confirm => 'Are you sure?', :class => 'btn btn-primary'
  
