%h2 Create Proposal

= link_to 'Back To Homepage', '/proposals'

= form_tag new_proposal_path do

  = label :proposal, :name, 'Proposal Name'

  = text_field :name, 'Proposal Name'

  %br/

  = submit_tag 'Submit', :class => 'btn btn-primary'
  


  