-#  This file is app/views/proposals/open_proposals.html.haml
%h1  Closed Proposals

%table#movies
  %thead
    %tr
      %th Name 
      %th Yes
      %th No
      %th Abstain
      %th Date
      %th More
  %tbody
    - @proposals.each do |proposal|
      %tr
        %td= proposal.name 
        %td= proposal.number_yes
        %td= proposal.number_no
        %td= proposal.number_abstain
        %td= proposal.updated_at
        // %td= link_to "More about proposal.title}, proposal_path(proposal)
        
  
  %br/

  = link_to 'Back To Homepage', '/proposals'

